
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#root {
  width: 100vw;
  background-color: #302f2f;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: white;
}

.container{
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.left-content,.right-content{
    flex-basis: 40%;
}
.left-content{
  margin-right: 40%;
  
}
.card{
    background-color:#9edef949;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card:hover {
  cursor: pointer;
  opacity: 0.7;
}


.card:active {
  opacity: 0.9;
}


.right-content{
    text-align: center;
    flex-grow: 1;
    max-width: 50%;
    margin-bottom: 28px;
    position: fixed;
    top: 35%;
    right: 0%;
    transition: ease-in-out;
}

.right-content div:first-child {
  display: flex;
  flex-direction: column;
}

.right-content div h3 {
  letter-spacing: 2px;
}

.info-poke {
  width: 100%;
  margin: auto;
}

.right-content img{
    margin: 2px;
    height: 120px;
}
.right-content h1{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
}
.types{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.types .group{
    color: white;
    padding: 0.5rem;
    margin-left: 1rem;
    width: 100%;
    align-items: center;
}

.group-img {
  width: max-content;
  height: 96px !important;
}

.base-stat{
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.base-stat div {
  margin: 0 2px 2px 4px;
}
.base-stat-name {
  align-self: flex-start;
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-group button{
    outline: none;
    border: none;
    padding: 14px 10%;
    margin: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #c1615b;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group img {
  max-height: 20px;
}

.title-section {
  font-size: 28px;
  font-weight: 500;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  letter-spacing: 3px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.title-section input {
  background: #ffffff;
  min-width: 50%;
  height: 36px;
  font-size: 16px;
  outline: none;
  border-color: #5fb9fe;
  color: rgb(79, 77, 77);
  padding-left: 20px;
  border-radius: 8px;
  margin: 20px 0 10px 0;
}

.title-section div {
  display: flex;
  align-items: center;
}

.title-section  span {
  color: rgb(193, 46, 46);
  font-size: 16px;
  margin-left: 12px;
  letter-spacing: normal;
  text-transform: lowercase;
}

.title-section div h2 {
  color: white;
  margin-top: 10px;
}

.title-section div img {
  max-width: 100px;
}

.title-section  button {
  max-width: 50%;
  font-size: 16px;
  background-color: #c1615b;
  outline: none;
  margin-top: 10px;
}
.title-section  button:hover {
  border-color: #5fb9fe !important;
}

.base-state-wrapper {
  width: 200px;
  background: #fff;
  border-radius: 6px;
  padding: 1px;
}

.base-state-power {
  margin: 0 !important;
  padding: 1px;
  text-align: end;
  height: 100%; 
  border-radius: 6px;
  max-width: 198px;
  background-color: #3aa440;
}

@media screen and (max-width: 916px) {
  .right-content {
    top: 35% ;
    right: 0%;
  }
  .right-content h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 538px) {
  .left-content{
    margin-right: 20px;
    margin-left: 20px;
  }


.right-content{
  text-align: center;
  flex-grow: 1;
  max-width: 50%;
  margin-bottom: 28px;
  position: static;
}
}